<header>
  
  <nav>
   
    {{#if isLoggedIn}}

     <a href="/auth/user/{{userId}}">
      <box-icon name='list-ol' class="list-ol" color="#00DFA2"></box-icon>
    </a>

    <a href="/auth/logout">
      <box-icon name='log-out-circle' color="#00DFA2" id="logout"></box-icon>
    </a>

    {{else}}

    <a href="/auth/login">
      <box-icon name='log-in-circle' color="#00DFA2" id="login"></box-icon>
    </a>

    {{/if}}
          
  </nav>
</header>

<section>

  <div class="title">
    <h1>BookLook</h1>
    <box-icon name='search-alt' size="lg" class="search-alt" color="#00DFA2"></box-icon>
  </div>

  <div class="main-search-div">
    <input placeholder='Search' class='main-search' type="text">
    <i class="search-icon" ><box-icon name='search-alt' color="#0079FF"></box-icon></i>
  </div>

  <div class="search-entry"></div>
  <div class="results-container"></div>

</section>