<header class="list-header">
  <h3>Welcome {{username}}!</h3>
  <nav>
    <a href="/auth/home/{{id}}">
      <box-icon name='search-alt' class="search-alt" color="#00DFA2"></box-icon>
    </a>

    {{#if isLoggedIn}}
    <a href="/auth/logout">
      <box-icon name='log-out-circle' color="#00DFA2" id="logout"></box-icon>
    </a>

    {{else}}
    <a href="/auth/login">
      <box-icon name='log-in-circle' class="power-off" color="#00DFA2"></box-icon>
    </a>
    
    {{/if}}
          
  </nav>

</header>

<section class="reading-list"> 
  <h1>My Reading List</h1>
</section>