:root {
    --primary-color: #FF0060;
    --secondary-color: #0079FF; 
    --accent-color: #F6FA70FF;
    --background-color: #00DFA2;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--secondary-color);
    /* background: 
        linear-gradient(to bottom right, 
        var(--secondary-color) 00%, 
        var(--background-color) 100%); */
    /* overflow: hidden; */
  }

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px
}

header > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.title > h1, .title > h2{
    font-size: xx-large;
    color: var(--background-color);
}

.main-search-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-search{
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 50px;
    color: var(--secondary-color);
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: 100;
    /* letter-spacing: 2px; */
    border: none;
    border-radius: 10px;
    /* background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%); */
    transition: width 1.5s ease;
    outline: none;
    
    /* &:focus{ width: 300px; } */
}

.main-search:focus {
    transition: width 0.6s ease;
    width: 300px;
}

.search-icon {
    cursor: pointer;
}

i{
    position: relative;
    left: -37px;
}

.search-entry {
    text-align: center;
}

.loading-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loading-div > h4 {
    margin-left: 8px;
    color: var(--background-color);
}

.result-number-p {
    margin: 5px;
}

.results-container {
    max-height: 90vmax;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-container > a {
    color: black;
}

.result, .single-result {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.single-result {
    padding-bottom: 5px;
    margin: 50px 10px 10px 10px;
}

.result:hover {
    /* border: 2px solid var(--primary-color); */
}

.result > h3, .single-result > h3 {
    margin-top: 10px;
}

.results-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

.title-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--background-color);
}

.list-icon-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.list-plus, .list-remove {
    margin: 10px;
    text-align: right;
}

.list-plus:hover, .list-remove:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.login-register {
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 200px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 100;
    border: none;
    border-radius: 10px;
    outline: none;
    margin: 10px;
}

.login-register-btn {
    padding: 10px 20px;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

/* .login-register-btn:hover{
    border: 1px ridge var(--primary-color);
} */

.to-register {
    text-align: center;
}

.to-register > p > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--background-color);
}

.error {
    text-align: center;
    margin-bottom: 20px;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--background-color);
}

.reading-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  @media (max-width: 380px) {
    .main-search:hover {
        width: 250px;
    }
  }